*{
  margin: 0;
  padding: 0;
}


.class{
  background-color: red;
  color: white;
}


#id {
  background-color: blue;
  color: white;
}


a:visited {
  color: brown;
}



a:hover{
  background-color: greenyellow;
}