.box {
  height: 100px;
  width: 100px;
  margin: 50px;
  background-color: red;
 

 transition: background-color 5s , transform 5s;
 
  
}

.box:hover {
  background-color: blue;
  transform: scale(1.5);
}