.box1 {
    background-color: red;
    height: 200px;
    width: 800px;
    position: relative;
    left: 200px;
    top: 400px;
}
.box2 {
    background-color: yellow;
    height: 300px;
    width: 300px;
    position: fixed;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}

.box3{
    background-color: blue;
    height: 100px;
    width: 100vw;
    position: sticky;
    top: 0%;
}