p {
  background-color: red;
}

/* div {
  background-color: green;
} */

span {
  background-color: rgb(219, 117, 117);
}

b {
  background-color: yellow;
}

h1 {
  background-color: rgb(183, 149, 79);
}
