.container {
  height: 30vh;
  background-color: beige;
}
.container .box{
  height: 100px;
  width: 100px;
  background-color: blueviolet;
  transition: transform 5s, background-color 5s;
}

.container .box:hover {
  transform: translateX(500px);
  background-color: blue;
}